.section-news{
    padding: 21px 0 25px;

    @media only screen and (min-width: $screen-sm) {
        padding: 42px 0 50px;

        h2{
            margin-bottom: 0.35em;
        }

        h3{
            font-size: floor($h3-font-size * 1.8);
        }
    }
}

.news-block{
    margin: 7px 0 0;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;

    .row{
        margin: 0 !important;
    }

    [class^="col-"]{
        padding: 0 !important;
    }

    .news-box{
        text-align: center;
        display: block;
        padding-top: 77%;
        position: relative;
        overflow: hidden;
        background: $white;
        transition: background 0.4s;

        &:hover,
        &-link:hover .news-box{
            background: #000b2e;
            .title{
                color: $white;;
            }
            .subtitle{
                color: $blue;
            }
            &.arrow-top{
                &:after {
                    border-bottom-color: #000b2e;
                }
            }

            &.arrow-bottom{
                &:after {
                    border-top-color: #000b2e;
                }
            }

            &.arrow-right{
                &:after {
                    border-left-color: #000b2e;
                }
            }

            &.arrow-left{
                &:after {
                    border-right-color: #000b2e;
                }
            }

            &.news-box-image{
                .bg-stretch{
                    bottom: 5px;
                    top: -5px;
                }
            }
        }

        .bg-stretch{
            left: -1px;
            right: -1px;
        }

        &-link{
            display: block;
        }

        .title{
            text-transform: uppercase;
            color: $dark-blue;
            max-width: 100%;
        }

        .subtitle{
            font-weight: $font-weight-bold;
            font-family: $font-family-condensed;
            padding-bottom: 5px;
        }

        &-high{
            padding-top: 154%;
        }

        &-short{
            width: 50%;
            float: right;
            padding-top: 38.5%;
        }

        &-image{
            background: #000b2e;

            .bg-stretch{
                @extend %transition;
            }
        }

        &-video{
            .icon{
                position: absolute;
                z-index: 2;
                left: 50%;
                top: 50%;
                font-size: 35px;
                opacity: 0.5;
                color: $white;
                transform: translate(-50%, -50% );
                @extend %transition;
            }

            &:hover{
                .icon{
                    opacity: 1;
                }
            }
        }
        
        &-blue{
            background: $blue;
            color: $white;

            .title{
                color: inherit;
                margin: 10px 0;
            }
        }

        .text-holder{
            position: absolute;
            overflow: hidden;
            left: 10px;
            top: 10px;
            bottom: 10px;
            right: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }

    .arrow-top,
    .arrow-bottom,
    .arrow-right,
    .arrow-left{
        z-index: 2;
        position: relative;
        overflow: visible;

        &:after {
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-width: 8px;
            transition: border-color 0.4s;
        }
    }

    .arrow-top{
        &:after {
            bottom: 100%;
            left: 50%;
            border-bottom-color: #fff;
            margin-left: -8px;
        }
    }

    .arrow-bottom{
        &:after {
            top: 100%;
            left: 50%;
            border-top-color: #fff;
            margin-left: -8px;
        }
    }

    .arrow-right{
        &:after {
            left: 100%;
            top: 50%;
            border-left-color: #fff;
            margin-top: -8px;
        }
    }

    .arrow-left{
        &:after {
            right: 100%;
            top: 50%;
            border-right-color: #fff;
            margin-top: -8px;
        }
    }

    @media only screen and (min-width: $screen-sm) {
        margin: 21px 0 0;

        .news-box{
            padding-top: 75.5%;

            .title{
                font-size: floor($base-font-size * 2);
            }
            
            &-high{
                padding-top: 151%;
            }

            &-short{
                padding-top: 38%;
            }
        }

        .arrow-top,
        .arrow-bottom,
        .arrow-right,
        .arrow-left{
            &:after {
                border-width: 14px;
            }
        }

        .arrow-top{
            &:after {
                margin-left: -14px;
            }
        }

        .arrow-bottom{
            &:after {
                margin-left: -14px;
            }
        }

        .arrow-right{
            &:after {
                margin-top: -14px;
            }
        }

        .arrow-left{
            &:after {
                margin-top: -14px;
            }
        }
    }

    @media only screen and (min-width: $screen-md) {
        .news-box{
            &:hover,
            &-link:hover .news-box {
                &.arrow-right {
                    &:after {
                        border-left-color: transparent;
                        border-bottom-color: #000b2e;
                    }
                }
                &.news-box-image{
                    .bg-stretch{
                        bottom: 8px;
                        top: -8px;
                    }
                }
            }

            &-short{
                padding-top: 75.5%;
                float: none;
                width: 100%;
            }

            &.arrow-right{
                &:after {
                    top: auto;
                    bottom: 100%;
                    left: 50%;
                    border-left-color: transparent;
                    border-bottom-color: #fff;
                    margin-left: -8px;
                    margin-top: 0;
                }
            }
        }
    }

    @media only screen and (min-width: $screen-lg) {
        .news-box{
            padding-top: 63.5%;

            .text-holder{
                left: 25px;
                right: 25px;
                top: 25px;
                bottom: 25px;
            }

            &-high{
                padding-top: 127%;
            }

            &-short{
                padding-top: 63.5%;
            }
        }
    }
}

.social-block{
    .row{
        margin: 0 !important;
    }

    [class^="col-"]{
        padding: 0 !important;
    }

    .social-box{
        text-align: center;
        overflow: hidden;
        display: block;
        padding-top: 80%;
        position: relative;
        background: #e4eef8;

        .social-holder{
            position: absolute;
            overflow: hidden;
            left: 10px;
            top: 10px;
            bottom: 10px;
            right: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .icon{
            font-size: 40px;
        }

        .title{
            display: block;
            color: inherit;
            font-family: $font-family-condensed;
        }

        &-youtube{
            background: #d0072a;
            color: $white;

            &:hover{
                color: #6d191e;
            }
        }

        &-facebook{
            background: #3c5a99;
            color: $white;

            &:hover{
                color: $link-color;
            }
        }
    }

    @media only screen and (min-width: $screen-sm) {
        .social-box{
            padding-top: 100%;

            .icon{
                font-size: 92px;
            }
        }
    }

    @media only screen and (min-width: $screen-md) {
        .social-box{
            padding-top: 44.5%;

            .icon{
                font-size: 37px;
            }

            .title{
                font-size: floor($base-font-size * 1.72);
                text-transform: uppercase;
                padding-top: 10px;
            }
        }
    }
}