*:focus{
    outline: none !important;
    text-decoration: none !important;
}

a{
    color: $link-color;
    text-decoration: none;
    @extend %transition;
    &:hover{
        color: $link-hover-color;
    }
}

p{
    margin: 0 0 0.8em;

    @media only screen and (min-width: $screen-sm) {
        margin: 0 0 1.3em;
    }

    @media only screen and (min-width: $screen-md) {
        margin: 0 0 1.55em;
    }
}

//headings

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    line-height: 1.1;
}

h1, .h1{
    font-size: $h1-font-size;
    text-transform: uppercase;
    font-family: $font-family-condensed;
    color: $blue;
    margin-bottom: 0.35em;

    @media only screen and (min-width: $screen-sm) {
        font-size: floor($h1-font-size * 2);
        line-height: 0.95;
        margin-bottom: 0.3em;
    }

    @media only screen and (min-width: $screen-md) {
        margin-bottom: 0.28em;
    }
}
h2, .h2{
    font-size: $h2-font-size;
    color: $headings-color;
    font-weight: $font-weight-regular;
    text-transform: uppercase;
    margin-bottom: 0.35em;

    @media only screen and (min-width: $screen-sm) {
        font-size: floor($h2-font-size * 1.85);
        margin-bottom: 0.4em;
    }

}
h3, .h3{
    font-size: $h3-font-size;
    line-height: 1.25;
    color: $black;
    font-weight: $font-weight-regular;

    @media only screen and (min-width: $screen-sm) {
        font-size: floor($h3-font-size * 1.43);
    }
}