.popup{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,6,26,0.95);
    overflow: auto;
    position: fixed;
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s linear;
    transform: translate(0, -50%);
    min-width: $body-min-width;
    visibility: hidden;

    .nav-open &.popup-nav{
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
    }

    .search-open &.popup-search{
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
    }
    
    .panel-close{
        background: $white;
        font-size: floor($base-font-size * 1.08);
        font-family: $font-family-condensed;
        font-weight: $font-weight-bold;
        padding: 17px 24px 15px;
        text-align: right;
        text-transform: uppercase;
    }

    @media only screen and (min-width: $screen-sm){
        .panel-close{
            font-size: floor($base-font-size * 2);
            padding: 36px 47px 29px;
        }
    }

    @media only screen and (min-width: $screen-md){
        .panel-close{
            background: none;
            font-size: floor($base-font-size * 2);
            padding: 50px 75px 20px;
            
            a{
                color: $white;
                &:hover{
                    color: $blue;
                }
            }
        }
    }
}