.section-subscribe{
    padding: 0 0 25px;

    @media only screen and (min-width: $screen-sm) {
        padding: 0 0 50px;
    }

    @media only screen and (min-width: $screen-md) {
        padding: 0 0 40px;
    }
}