.breadcrumbs {
    text-transform: uppercase;
    position: relative;
    top: -1px;
    background: $white;

    &-nav {
        @extend %listreset;
        padding: 8px 0 9px;
        color: $dark-blue;

        > li {
            display: none;
            &:last-child{
                display: block;
            }
        }
    }

    @media only screen and (min-width: $screen-sm){
        top: 0;
        font-size: floor($base-font-size * 2);

        &-nav {
            padding: 20px 0 22px;
        }
    }

    @media only screen and (min-width: $screen-md){
        font-size: floor($base-font-size * 1.14);
        text-transform: none;

        &-nav {
            padding: 20px 0 21px;
            color: $dark-gray;
            text-align: left;

            > li {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                padding-right: 15px;

                &:after{
                    content: "\f105";
                    @include icofont;
                    font-size: 12px;
                    position: absolute;
                    right: 3px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:last-child{
                    display: inline-block;
                    padding-right: 0;

                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
}
