#wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
}
#header {
	background: rgba(0,0,0,.3);
	color: #fff;
	position: relative;
	z-index: 20;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	padding: 39px 0 0;
	.inner &{
		background: rgba(0,0,0,.8);
	}
	@include breakpoint($mobile) {
		background: #000;
	}
	@media only screen and (max-width: 639px) {
		padding-top:74px;
	}
}
.header-bar {
	background: #000;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	letter-spacing: -1px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	a{
		color: $white;
		@include transition(0.3s);
		&:hover{
			text-decoration: none;
			color: $brand-primary;
		}
	}
	.holder{
		float: right;
	}
	.cart-info{
		float: left;
		background: #292929;
		padding: 12px 13px 7px;
		width: 209px;
		a{
			color: $white;
			&:hover{
				text-decoration: none;
				color: $brand-primary;
			}
		}
		.fa{
			vertical-align: top;
			font-size: 30px;
			margin: -7px 32px -3px 0;
		}
	}
	.links {
		padding: 12px 0 8px;
		margin: 0 -14px 0 62px;
		list-style: none;
		text-align: right;
		float: left;
		text-transform: uppercase;
		li {
			display: inline-block;
			vertical-align: top;
			margin-right: 14px;
			padding-left: 16px;
			position: relative;
			&:first-child{
				&:after{
					display: none;
				}
			}
			&:after{
				content:"";
				position: absolute;
				left:0;
				top:2px;
				height: 13px;
				border-left: 1px solid $white;
			}
			@include breakpoint($mobile) {
				&:first-child{
					padding-left: 0;
				}
			}
		}
		@include breakpoint($mobile) {
			margin: 0 -14px 0 15px;
			padding-bottom: 7px;
		}
	}
	@include breakpoint($mobile) {
		.cart-info{
			width: 145px;
			.fa{
				font-size: 20px;
				margin: -2px 10px -3px 0;
			}
		}
	}
	@media only screen and (max-width: 639px){
		top: 37px;
		height: 37px;
		overflow: hidden;
		.holder{
			float: none;
			width: auto;
			margin: 0 -15px;
			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}
		.cart-info{
			width: 50%;
			text-align: center;
		}
		.links{
			margin: 0;
			width: 50%;
			text-align: center;
		}
	}
}
.logo {
	a {
		display: inline-block;
		vertical-align: top;
		max-width: 100%;
	}
	@include breakpoint($desktop-md) {
		text-align: center;
		img{
			width: 300px;
		}
	}
	@include breakpoint($mobile) {
		text-align: left;
		img{
			width: 200px;
		}
	}
}
.header-block {
	position: relative;
	padding: 9px 0 15px;
	.searchform {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0,0,0,.8);
		z-index: 5;
		margin: 0;
		.holder {
			padding: 23px 40px 0 0;
			input {
				width: 100%;
				margin: 0;
				border: none;
				background: none;
				color: #fff;
				font-size: 18px;
				line-height: 28px;
				padding: 10px 40px;
				height: 48px;
			}
		}
		@include breakpoint($desktop-md) {
			.holder {padding-top: 65px;}
		}
		@include breakpoint($mobile) {
			display: none;
		}
	}
	@include breakpoint($desktop-md) {
		padding-bottom: 0;
	}
	@include breakpoint($mobile) {
		padding: 9px 0 15px;
	}
}
.navbar-collapse {
	max-height: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
	@include breakpoint($mobile) {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 101;
		background: #000;
	}
}
.navbar-collapse.in {overflow: visible;}
.navbar-toggle {
	background: transparent;
	padding: 4px 10px;
	z-index: 10;
	margin: 0 10px 0 0;
	border: 2px solid $brand-primary;
}
.navbar-toggle .icon-bar {
	display: block;
	height: 2px;
	background: $brand-primary;
	margin: 6px 0;
	width: 25px;
}
.navbar-holder {
	@include breakpoint($mobile) {
		position: static;
	}
}
#navbar {
	padding-right: 10px;
	position: relative;
	margin: 17px 0 0 -124px;
	.search-bottom {
		position: absolute;
		right: 0;
		top: 50%;
		color: #fff;
		font-size: 14px;
		line-height: 1;
		margin-top: -7px;
		z-index: 6;
		.fa-search {display: none;}
		&.collapsed {
			.fa-search {display: block;}
			.fa-times {display: none;}
		}
		&:focus,
		&:hover {text-decoration: none;}
		@include breakpoint($mobile) {
			display: none;
		}
	}
	@include breakpoint($desktop-md) {
		margin: 5px 0 0 0;
	}
	@include breakpoint($mobile) {
		padding: 0;
		margin: 0;
		position: absolute;
	}
}
#nav {
	padding: 0;
	margin: 0;
	list-style: none;
	display: table;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	text-transform: uppercase;
	width: 100%;
	> li {
		display: table-cell;
		vertical-align: top;
		position: relative;
		&:hover,
		&.hover {
			> a {
				color: #bcbcbc;
				text-decoration: none;
			}
		}
		&.active{
			>a{
				color: #bcbcbc;
				text-decoration: none;
			}
		}
	}
	a {
		display: block;
		color: #fff;
		padding: 10px;
		transition: color ease-in-out .3s, background ease-in-out .3s;
		&.has-drop-down-a {
			padding-right: 15px;
			&:after {
				content: '\f107';
				position: absolute;
				right: 5px;
				top: 15px;
				font: 12px/1 FontAwesome;
			}
		}
	}
	ul {
		position: absolute;
		padding: 0;
		margin: 0;
		list-style: none;
		font-size: 12px;
		line-height: 17px;
		font-weight: normal;
		text-transform: none;
		top: 100%;
		left: 0;
		width: 200px;
		background: $gray-darker;
		transition: all ease-in-out .3s;
		pointer-events: none;
		border-radius: 0;
		border: none;
		li {
			border-bottom: 1px solid #1f2021;
			&:hover,
			&.hover {
				> a {
					color: #fff;
					background: #303031;
					text-decoration: none;
				}
			}
		}
		a {
			padding: 14px 26px;
			color: #fff;
		}
		z-index: -1;
		display: none;
	}
	li:hover,
	li.hover {
		> ul {
			z-index: 101;
			display: block;
			pointer-events: auto;
		}
	}
	@include breakpoint($tablet) {
		font-size: 13px;
	}
	@include breakpoint($mobile) {
		display: block;
		> li {
			display: block;
		}
		ul {
			position: static;
			z-index: 1;
			opacity: 1;
			width: auto;
			display: none;
			float: none;
		}
		li:hover,
		li.hover {
			> ul {
				display: block;
			}
		}
	}
}