
@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?ksjq7g');
	src:url('../../fonts/icomoon.eot?#iefixksjq7g') format('embedded-opentype'),
		url('../../fonts/icomoon.woff?ksjq7g') format('woff'),
		url('../../fonts/icomoon.ttf?ksjq7g') format('truetype'),
		url('../../fonts/icomoon.svg?ksjq7g#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-prev:before {
	content: "\e601";
}
.icon-link:before {
	content: "\e600";
}
.icon-play:before {
	content: "\e602";
}
.icon-phone:before {
	content: "\e0dc";
}
.icon-envelop:before {
	content: "\e0ef";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-fax:before {
	content: "\f1ac";
}
