// breakpoints
$desktop: min-width 993px; 	// for more than 992px width
$desktop-lg: min-width 1231px; 	// for more than 1230px width
$desktop-md: 1230px; 	// for less than 1230px width
$desktop-md-tablet: 768px 1230px; 	// sample ragne
$desktop-tablet: min-width 768px; // for more than 768px width
$tablet: 992px; 				// tablet
$tablet-range: 768px 992px; 	// sample ragne
$mobile: 767px; 				// mobile
$mobile-small: 479px; 				// mobile small
$mobile-hi-res: 767px (min-resolution 1.5dppx);  // mobile retina