@import "compass";

@import "bootstrap/variables";
@import "bootstrap-override";
@import "variables";
@import "breakpoint";
@import "jcf";
@import "base/wp-reset";

@mixin clearfix {
	&:after {
		content: '';
		display: table;
		width: 100%;
		clear: both;
	}
}
.list-unstyled{
	margin: 0;
}
.margin-bottom {margin-bottom: 20px;}
.btn {
	text-transform: uppercase;
	letter-spacing: 1px;
	font: 800 11px/16px $font-family-base;
	padding: $padding-large-vertical $padding-large-horizontal;
	border-width: 2px;
	border-radius: 0;
	@include transition(0.3s);
	position: relative;
	&:active{
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	&.btn-default{
		background: none;
	}
	&.btn-default:hover {
		color: #fff;
		background: $brand-primary;
		border-color: $brand-primary;
	}
	&.btn-primary {
		border-color: $brand-primary;
		&:hover{
			color: $brand-primary;
			background: $white;
			border-color: $brand-primary;
		}
	}
	&.btn-info {
		border-color: $white;
		background:none;
		&:hover{
			color: $gray-blue;
			background: $white;
		}
	}
	&.btn-wide{
		padding: 16px 43px 14px;
		letter-spacing: 2px;
	}
	&.btn-sm{
		padding: 8px $padding-large-horizontal;
		font-size: $font-size-base;
		letter-spacing: 0;
		&.inner{
			padding: 8px 14px;
		}
	}
	&.btn-lg{
		font-size: 16px;
		line-height: 1.4;
		padding: 15px 25px 13px;
		min-width: 270px;
		font-weight: 600;
		letter-spacing: 0;
		@include breakpoint($desktop-md) {
			min-width: 220px;
		}
	}
	&.btn-next,
	&.btn-prev{
		padding: 0 0 0 14px;
		z-index: 2;
		width: auto;
		background: none;
		border: none;
		@include transition(0);
		&:hover{
			background: none;
			border: none;
			span{
				background: $white;
				color: $brand-primary;
				border-color: $brand-primary;
			}
		}
		span{
			@include transition(0.3s);
			padding: 8px 11px 8px 3px;
			border: 2px solid $brand-primary;
			display: block;
			background: $brand-primary;
		}
		&:after,
		&:before{
			content: "";
			position: absolute;
			top:0;
			width: 0;
			height: 0;
			z-index: 1;
			left:0;
			@include transition(0.3s);
			border-top: 18px solid transparent;
			border-bottom: 18px solid transparent;
			border-right: 14px solid $brand-primary;
		}
		&:hover{
			&:after{
				opacity: 1;
			}
		}
		&:after{
			top:2px;
			opacity: 0;
			left: 3px;
			border-top: 16px solid transparent;
			border-bottom: 16px solid transparent;
			border-right: 13px solid $white;
		}
	}
	&.btn-next{
		padding: 0 14px 0 0;
	}
	&.btn-next:after,
	&.btn-next:before{
		left: auto;
		right: 0;
		border-top: 18px solid transparent;
		border-left: 14px solid $brand-primary;
		border-bottom: 18px solid transparent;
		border-right:none;
	}
	&.btn-next:after{
			top:2px;
			opacity: 0;
			left: auto;
			right: 3px;
			border-top: 16px solid transparent;
			border-bottom: 16px solid transparent;
			border-left: 13px solid $white;
			border-right:none;
		}
	@include breakpoint($mobile) {
		width: 100%;
	}
}

@import "icomoon";
@import "header";
@import "footer";
@import "content";
