.alert-success{
	background-color:#dff0d8;
	border-color:#d0e9c6;
	margin-top: 15px;
	border-top-color:#c1e2b3;
	color:#2b542c;
	min-height: 40px;
	vertical-align: middle;
}

.alert-fail{
	background-color:#f2dede;
	border-color:#ebcccc;
	color:#a94442;
	margin-top: 15px;
	border-top-color:#e4b9b9;
	min-height: 40px;
	vertical-align: middle;
}
/* TM Popup Modal */
#CVVPopup.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: transparent; 
    background-color: rgba(0,0,0,0.4); 
}
#CVVPopup > .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
}
#CVVPopup >.modal-content .modal-body {
    padding-top: 2em;
    text-align: center;
    padding: 1em 2em;
}
#CVVPopup > .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#CVVPopup > .modal-content .close:hover,
#CVVPopup > .modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}