.chart{
    text-align: left;
    padding: 3px 0 20px;

    &.chart-activated{
        .chart-box{
            &:before{
                display: none;
            }
        }
    }

    &-item{
        display: flex;
        padding-bottom: 4px;
        align-items: center;
        justify-content: center;

        &.align-right{
            .chart-box-holder{
                order: 2;
            }
            .chart-text{
                padding-right: 20px;
                padding-left: 0;
            }
        }
    }

    &-value {
        display: block;
        position: absolute;
        z-index: 1;
        font-size: floor($base-font-size * 2.5);
        top: 50%;
        left: 50%;
        color: $black;
        transform: translate(-50%, -50%);
    }

    &-box-holder{
        max-width: 50%;
    }
    &-box{
        width: 129px;
        height: 129px;
        display: inline-block;
        vertical-align: middle;
        position: relative;

        &:before{
            content: '';
            position: absolute;
            z-index: 0;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 9px solid #e9e9e9;
            border-radius: 50%;
        }

        canvas{
            position: relative;
            z-index: 1;
        }
    }

    &-text{
        max-width: 50%;
        padding-left: 20px;
    }

    @media only screen and (min-width: $screen-sm) {
        padding: 27px 0 41px;
        font-size: floor($base-font-size * 1.36);

        &-item{
            display: block;
            padding-bottom: 10px;
            text-align: center;

            &.align-right{
                .chart-text{
                    padding: 0;
                }
            }
        }

        &-value {
            font-size: floor($base-font-size * 3.5);
        }

        &-box{
            width: 166px;
            height: 166px;

            &:before{
                border-width: 10px;
            }
        }

        &-box-holder{
            max-width: 100%;
            padding-bottom: 24px;
        }

        &-text{
            max-width: 100%;
            padding: 0;
        }
    }

    @media only screen and (min-width: $screen-md) {
        padding-bottom: 36px;

        &-box-holder{
            padding-bottom: 22px;
        }

        &-text{
            max-width: 250px;
            margin: 0 auto;
        }
    }
}