.header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    height: 55px;
    background: $white;
    // overflow: hidden;
    min-width: $body-min-width;
    border-bottom: 1px solid $light-gray;
    padding: 13px 0 10px;

    &.header-extended {
        border-bottom: 0;
    }
    .logo{
        float: left;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        overflow: hidden;
        background: url('../images/logo.svg') no-repeat;
        background-size: 100% auto;
        max-width: 100%;
        margin-right: 15px;
    }

    .right-holder{
        float: right;
        position: relative;
        z-index: 10;
    }

    .nav-opener,
    .search-opener{
        float: left;
        color: $green;
        font-size: 18px;
        line-height: 1;
        margin: 6px 0 0 19px;
        &:hover{
            color: $dark-green;
        }
    }

    .search-opener{
        font-size: 22px;
        margin: 3px 0 0 28px;
        position: relative;

        span{
            position: relative;
            z-index: 1;
        }

        &:before{
            content:'';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 40px;
            height: 40px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: #000;
            opacity: 0;
            background: $green;
            @extend %transition;
        }

        &:hover{
            color: $white;
            &:before{
                opacity: 1;
            }
        }
    }

    .btn{
        float: left;
        margin-left: 10px;
    }

    .facebook-widget{
        display: none;
    }

    @media only screen and (min-width: $screen-sm) {
        height: 100px;
        padding: 18px 0 20px;

        .logo{
            width: 315px;
            height: 58px;
            background: url('../images/logo-home.svg') no-repeat;
            background-size: 100% auto;
            margin-top: 5px;
        }

        .nav-opener,
        .search-opener{
            font-size: 21px;
            line-height: 1;
            margin: 20px 0 0 39px;
        }

        .search-opener{
            font-size: 23px;
            margin: 19px 0 0 30px;
        }
    }

    @media only screen and (min-width: $screen-md) {
        padding: 13px 0 11px;
        height: 85px;

        .nav{
            position: relative;
            top: -13px;
            // overflow: hidden;
        }

        .logo{
            width: 50px;
            height: 50px;
            margin-top: 6px;
            background: url('../images/logo.svg') no-repeat;
            background-size: 100% auto;
        }

        .search-opener{
            margin: 18px 6px 0 32px;
        }

        .nav-opener{
            display: none;
        }

        &-extended.header-collapsed{
            position: fixed;
            animation: headerAnimationIn 0.5s  ease-out;
        }

        &-extended:not(.header-collapsed){
            position: absolute;
            height: 160px;
            padding-bottom: 0;

            .nav{
                top: 0;
                height: 82px;
                clear: both;
                // margin: 0 -9999px;
                // padding: 17px 9999px 0;
                margin: 0;
                padding: 17px 0 0;

                &:before{
                    content: '';
                    position: absolute;
                    left: -9999px;
                    right: -9999px;
                    top: 17px;
                    border-top: 1px solid $light-gray;
                }
            }

            .logo{
                width: 364px;
                height: 65px;
                margin-top: 0;
                background: url('../images/logo-home.svg') no-repeat;
                background-size: 100% auto;
            }

            .search-opener{
                margin: 18px 9px 0 51px;
            }

            .facebook-widget{
                display: block;
                float: left;
                margin: 2px 35px 0 15px;
            }

            &.header-expanded{
                animation: headerAnimationOut 0.5s ease-out;
            }
        }
    }

    @media only screen and (min-width: $screen-lg) {
        .btn-default{
            margin: 0 0 0 15px;
        }
    }
}

@-webkit-keyframes headerAnimationIn {
    0% {top: -160px;}
    100% {top: 0;}
}
@-moz-keyframes headerAnimationIn {
    0% {top: -160px;}
    100% {top: 0;}
}
@keyframes headerAnimationIn {
   0% {top: -160px;}
    100% {top: 0;}
}
@-webkit-keyframes headerAnimationOut {
    0% {top: -85px; position: fixed;}
    100% {top: 0; position: absolute;}
}
@-webkit-keyframes headerAnimationOut {
    0% {top: -85px; position: fixed;}
    100% {top: 0; position: absolute;}
}
@-webkit-keyframes headerAnimationOut {
    0% {top: -85px; position: fixed;}
    100% {top: 0; position: absolute;}
}