// base theme colors
$black: #191919;
$white: #fff;
$dark-gray: #6d6d6d;
$gray: #e4e4e4;
$light-gray: #f1f1f1;
$blue: #4c8fcf;
$dark-blue: #054977;
$green: #57b21f;
$dark-green: #39820c;
$red: #d0072a;

$primary-color: $dark-gray;
$secondary-color: $black;

// typography
$base-font-family: 'Roboto', Arial, sans-serif;
$font-family-condensed: 'Roboto Condensed', Arial, sans-serif;
$base-font-size: 14px;
$base-line-height: 1.25;
$text-color: $primary-color;
$link-color: $blue;
$link-hover-color: $dark-blue;

$l-font-size: 16px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$h1-font-size: floor($base-font-size * 2.42);
$h2-font-size: floor($base-font-size * 1.85);
$h3-font-size: $base-font-size;

$headings-font-weight: $font-weight-semibold;
$headings-color: $dark-blue;

// init sizes
$body-min-width: 320px;

// media queries
$screen-lg: 1200px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;

$container-padding: 10px;
$container-max-width: 1156px;

$bg-nav: #e2eaee;
$border-color-drop: #b6babd;

$block-border-color: #e1e1e1;
$block-border-radius: 4px;
$block-tilte-color: #1b2629;