form{
    .error,
    .jcf-hidden.error + .jcf-select{
        border-color: #ffa0a0 !important;
    }

    .form-note{
        color: #e60000;
    }

    input:not([type=submit],[type=button]){
        display: block;
        width: 100%;
        background: $white;
        border: 1px solid #acacac;
        font-size: floor($base-font-size * 0.91);
        line-height: $base-line-height;
        padding: 9px 14px;
        height: 35px;
        color: $black;
        border-radius: 4px;
        @extend %transition;
        @extend %ellipsis;
        margin-bottom: 17px;
        @include placeholder{
            color: #d6d6d6;
        }

        &:focus,
        &:active{
            border-color: $green;

            @include placeholder{
                color: transparent;
            }
        }
    }

    textarea {
        display: block;
        width: 100%;
        background: $white;
        border: 1px solid #acacac;
        font-size: floor($base-font-size * 0.91);
        line-height: $base-line-height;
        padding: 9px 14px;
        height: 35px;
        color: $black;
        border-radius: 4px;
        @extend %transition;
        margin-bottom: 17px;
        resize: vertical;
        @include placeholder{
            color: #d6d6d6;
        }

        &:focus,
        &:active{
            border-color: $green;

            @include placeholder{
                color: transparent;
            }
        }
    }

    input[type=submit],
    input[type=button]{
        border: 0;
        @extend %ellipsis;
        @extend %transition;
    }

    label{
        display: block;
        padding-bottom: 5px;
        overflow: hidden;

        img{
            float: right;
            max-width: 30%;
        }
    }

    .checkbox-row{
        margin-bottom: 11px;
        overflow: hidden;

        .jcf-checkbox{
            float: left;
            margin-right: 8px;
        }

        label{
            padding: 3px 0 0;
        }
    }

    @media only screen and (min-width: $screen-sm){
        input:not([type=submit],[type=button]), textarea{
            font-size: floor($base-font-size * 1.71);
            padding: 20px 28px;
            height: 70px;
            margin-bottom: 15px;
        }

        textarea {
            min-height: 170px;
            height: 170px;
        }

        label{
            padding-bottom: 12px;
        }

        .checkbox-row{
            margin-bottom: 20px;
        }
    }

    @media only screen and (min-width: $screen-md){
        input:not([type=submit],[type=button]), textarea{
            font-size: floor($base-font-size * 1.71);
            padding: 15px 28px;
            height: 60px;
            margin-bottom: 16px;
        }

        textarea {
            min-height: 170px;
            height: 170px;
        }

        label{
            padding-bottom: 8px;
        }

        .checkbox-row{
            margin-bottom: 15px;

            label{
                padding: 0;
            }

            .jcf-checkbox{
                margin-top: 3px;
            }
        }
    }
}

.subscribe-form{
    background: $blue;
    color: $white;
    padding: 15px 18px 10px;

    h2{
        color: inherit;
        font-size: floor($h2-font-size * 0.84);
        margin-bottom: 0.8em;
    }

    .form-row{
        overflow: hidden;
        border-radius: 4px;
        margin: 0 auto 10px;
        max-width: 400px;
    }

    input:not([type=submit],[type=button]){
        width: 66%;
        border: 2px solid $white;
        font-size: $base-font-size;
        line-height: $base-line-height;
        padding: 11px 15px;
        height: 40px;
        float: left;
        border-radius: 4px 0 0 4px;
        margin-bottom: 0;

        @include placeholder{
            color: $dark-gray;
        }
    }

    input[type=submit],
    input[type=button]{
        display: block;
        float: right;
        width: 34%;
        height: 40px;
        background: $black;
        color: $white;
        font-family: $font-family-condensed;
        font-size: $base-font-size;
        line-height: $base-line-height;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        border-radius: 0 4px 4px 0;

        &:hover{
            background: $dark-blue;
        }
    }

    @media only screen and (min-width: $screen-sm) {
        padding: 20px 37px;

        h2{
            font-size: floor($h2-font-size * 1.15);
            margin-bottom: 0.95em;
        }

        .icon{
            display: inline-block;
            vertical-align: top;
            font-size: 55px;
            padding-bottom: 12px;
        }

        .form-row{
            margin: 0 auto 18px;
            max-width: 700px;
        }

        input:not([type=submit],[type=button]){
            width: 66%;
            font-size: floor($base-font-size * 1.57);
            padding: 26px 30px;
            height: 80px;
        }

        input[type=submit],
        input[type=button]{
            width: 34%;
            height: 80px;
            font-size: floor($base-font-size * 1.57);
        }
    }

    @media only screen and (min-width: $screen-md) {
        padding: 15px 40px 25px;

        .form-row{
            max-width: 945px;
        }

        input:not([type=submit],[type=button]){
            width: 73.5%;
        }

        input[type=submit],
        input[type=button]{
            width: 26.5%;
        }
    }
}

.search-form{
    text-align: left;
    color: $white;
    padding: 21px 0;
    font-size: floor($base-font-size * 1.37);
    font-weight: $font-weight-light;

    label{
        padding-bottom: 17px;
    }

    .search-input{
        background: $black;
        padding: 0 20px 0 38px;
        position: relative;

        .icon{
            position: absolute;
            left: 10px;
            top: 50%;
            font-size: 18px;
            transform: translateY(-50%);
        }
    }

    input:not([type=submit],[type=button]){
        background: transparent;
        border: none;
        border-radius: 0;
        font-size: floor($base-font-size * 1.71);
        line-height: $base-line-height;
        padding: 12px 0;
        height: 54px;
        color: $blue;
        text-transform: uppercase;
        margin-bottom: 0;

        @include placeholder{
            color: #66696f;
            font-weight: $font-weight-light;
        }
    }

    .results-list{
        @extend %listreset;
        padding: 26px 7px 0;
        color: #66696f;
        text-transform: uppercase;

        li{
            padding-bottom: 17px;
            overflow: hidden;
        }

        a{
            display: block;
            overflow: hidden;
            color: inherit;

            &:hover{
                color: $link-hover-color;
            }

        }

        .number{
            float: left;
            width: 21%;
            font-weight: $font-weight-bold;
            padding-right: 10px;
        }

        .highlighted{
            font-weight: bold;
            color: $blue;
        }
    }

    @media only screen and (min-width: $screen-sm) {
        padding: 42px 0 20px;
        font-size: floor($base-font-size * 2.71);

        label{
            padding: 0 0 36px 29px;
        }

        .search-input{
            padding: 0 20px 0 102px;

            .icon{
                left: 30px;
                font-size: 35px;
            }
        }

        input:not([type=submit],[type=button]){
            font-size: floor($base-font-size * 3.43);
            padding: 23px 0;
            height: 109px;
        }

        .results-list{
            padding: 47px 31px 0;

            li{
                padding-bottom: 34px;
            }
        }
    }

    @media only screen and (min-width: $screen-md) {
        padding: 100px 0 30px;

        label{
            padding: 0 0 16px 29px;
        }

        input:not([type=submit],[type=button]){
            font-size: floor($base-font-size * 4.14);
            padding: 18px 0;
            height: 109px;
        }

        .results-list{
            padding: 56px 9% 0;
        }
    }
}